/*nullstyle*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

* {
  cursor: default;
}

/* fonts */
@font-face {
  font-family: Graphik LCG;
  src: url(../fonts/GraphikLCG-Regular.eot);
  src: local("Graphik LCG"), url(../fonts/GraphikLCG-Regular.woff) format("woff"), url(../fonts/GraphikLCG-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Graphik LCG;
  src: url(../fonts/GraphikLCG-Semibold.eot);
  src: local("Graphik LCG"), url(../fonts/GraphikLCG-Semibold.woff) format("woff"), url(../fonts/GraphikLCG-Semibold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
/* style */
html,
body {
  font-family: "Graphik LCG";
  min-width: 320px;
}
@media (max-width: 768px) {
  html.active,
  body.active {
    overflow: hidden;
  }
}

.body_18 {
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
}

a,
button {
  cursor: pointer;
}

button.frame0__lightbutton,
button.frame6__bluebutton {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  height: 64px;
  border-radius: 4px;
  transition: all 0.15s ease-in;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(/images/01header/background.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: auto 960px;
  max-width: 1920px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .wrapper {
    background-image: url(/images/01header/phone_background.jpg);
    background-size: auto 1024px;
  }
}
@media (max-width: 375px) {
  .wrapper {
    background-size: auto 596px;
  }
}
@media (max-width: 320px) {
  .wrapper {
    background-size: auto 509px;
  }
}

.headcontainer {
  max-width: 1236px;
  margin: 0 auto;
  padding: 0 10px;
}
@media (max-width: 768px) {
  .headcontainer {
    padding: 0 17px;
  }
}

.header {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.header__logo {
  flex: 0 0 123px;
  overflow: hidden;
  position: relative;
  z-index: 3;
  cursor: pointer;
}
.header__logo a {
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: #fff;
  pointer-events: none;
}
.header__logo img {
  max-width: 100%;
  display: block;
  margin: 0 9px 0 0;
  pointer-events: none;
}
.header__logo a.active {
  color: #191C1F;
}
.header__burger {
  cursor: pointer;
  display: none;
}
@media (max-width: 768px) {
  .header__burger {
    display: block;
    position: relative;
    width: 22px;
    height: 12px;
    z-index: 3;
  }
  .header__burger:before, .header__burger:after {
    position: absolute;
    content: "";
    background-color: #fff;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.15s ease;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
}
.header__burger.active:before {
  transform: rotate(45deg);
  top: 5px;
  background-color: #191C1F;
}
.header__burger.active:after {
  transform: rotate(-45deg);
  bottom: 5px;
  background-color: #191C1F;
}
@media (max-width: 768px) {
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    padding: 97px 0 0 0;
    transition: all 0.15s ease;
  }
}
.header__menu.active {
  top: 0;
}
.header__list {
  display: flex;
  position: relative;
  z-index: 2;
}
.header__list li {
  margin: 0 0 0 24px;
}
@media (max-width: 768px) {
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0 0 16px 16px;
    border-bottom: 1px solid #ECEFF2;
    padding: 0 0 16px 0;
    width: 91.46%;
  }
}
.header__link {
  color: #fff;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0);
  transition: all 0.15s ease-in;
}
.header__link:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .header__link {
    color: #83898F;
  }
}

main {
  flex: 1 1 auto;
  padding: 313px 0 0 0;
}
@media (max-width: 768px) {
  main {
    padding: 397px 0 0 0;
  }
}
@media (max-width: 375px) {
  main {
    padding: 172px 0 0 0;
  }
}
@media (max-width: 320px) {
  main {
    padding: 128px 0 0 0;
  }
}

.container {
  max-width: 1236px;
  margin: 0 auto;
  padding: 0 10px;
}
@media (max-width: 768px) {
  .container {
    max-width: 767px;
    padding: 0 17px;
  }
}
@media (max-width: 375px) {
  .container {
    max-width: 342px;
    padding: 0 16px;
  }
}
@media (max-width: 320px) {
  .container {
    max-width: 288px;
  }
}

.frame0 {
  color: #fff;
  height: 567px;
  margin: 0 0 80px 0;
}
.frame0__titlebox {
  width: 100%;
  height: 100%;
  max-width: 748px;
  max-height: 334px;
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .frame0__titlebox {
    max-width: 476px;
    max-height: 229px;
  }
}
@media (max-width: 375px) {
  .frame0__titlebox {
    max-width: 288px;
    max-height: 252px;
  }
}
.frame0__title {
  font-size: 52px;
  line-height: 64px;
  font-weight: 600;
  margin: 0 0 18px 0;
}
@media (max-width: 768px) {
  .frame0__title {
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 17px 0;
  }
}
@media (max-width: 375px) {
  .frame0__title {
    font-size: 24px;
    line-height: 32px;
    margin: 0 0 10px 0;
  }
}
.frame0__content {
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  margin: 0 0 92px 0;
}
@media (max-width: 768px) {
  .frame0__content {
    font-size: 16px;
    line-height: 28px;
    margin: 0 0 40px 0;
  }
}
@media (max-width: 375px) {
  .frame0__content {
    margin: 0 0 26px 0;
  }
}
.frame0__lightbutton {
  width: 251px;
  background-color: #ECEFF2;
  color: #191C1F;
  border: 1px solid #ECEFF2;
}
.frame0__lightbutton:hover {
  background-color: #fff;
  border: 1px solid #C2C8CD;
}
@media (max-width: 768px) {
  .frame0 {
    height: 547px;
    margin: 0 0 56px 0;
  }
}
@media (max-width: 375px) {
  .frame0 {
    height: 344px;
  }
}
@media (max-width: 320px) {
  .frame0 {
    height: 301px;
  }
}

.frame1__titlebox {
  width: 100%;
  margin: 0 0 80px 0;
}
.frame1__title {
  font-size: 40px;
  font-weight: 600;
  line-height: 56px;
  text-align: center;
  color: #191C1F;
  margin: 0 0 61px 0;
}
@media (max-width: 768px) {
  .frame1__title {
    margin: 0 0 42px 0;
  }
}
@media (max-width: 375px) {
  .frame1__title {
    font-size: 24px;
    line-height: 32px;
    margin: 0 0 26px 0;
  }
}
.frame1__column {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
@media (max-width: 859px) {
  .frame1__column {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.frame1__content {
  margin: 0 auto;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 72px;
  padding: 88px 0 0 0;
  width: 280px;
}
.frame1__content-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #191C1F;
}
.frame1__content-info {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #5E646A;
}
.frame1__content.block1 {
  background-image: url(/images/frame1/01cursor.png);
}
@media (max-width: 859px) {
  .frame1__content.block1 {
    margin: 0 auto 32px auto;
  }
}
.frame1__content.block2 {
  background-image: url(/images/frame1/02deliver.png);
}
@media (max-width: 859px) {
  .frame1__content.block2 {
    margin: 0 auto 32px auto;
  }
}
.frame1__content.block3 {
  background-image: url(/images/frame1/03stonks.png);
}
@media (max-width: 859px) {
  .frame1__content.block3 {
    margin: 0 auto;
  }
}
@media (max-width: 717px) {
  .frame1__content.block3 {
    margin: 0 auto 32px auto;
  }
}
.frame1__content.block4 {
  background-image: url(/images/frame1/04money.png);
}
@media (max-width: 859px) {
  .frame1__content.block4 {
    margin: 0 auto;
  }
}
@media (max-width: 859px) {
  .frame1__content {
    background-size: 56px;
    width: 342px;
    padding: 0 0 0 72px;
  }
}
@media (max-width: 723px) {
  .frame1__content {
    margin: 0 0 32px 0;
  }
  .frame1__content:last-child {
    margin: 0 auto;
  }
}
@media (max-width: 375px) {
  .frame1__content {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .frame1 {
    margin: 0 0 56px 0;
  }
}

.frame2 {
  background-image: url(/images/frame2/05background.jpg);
  background-repeat: no-repeat;
  background-position: right 0;
  height: 100%;
  max-height: 448px;
  padding: 125px 0;
  margin: 0 0 80px 0;
}
.frame2__block {
  width: 100%;
  max-width: 592px;
  height: 198px;
  margin: 16px 0;
}
@media (max-width: 956px) {
  .frame2__block {
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .frame2__block {
    max-width: 352px;
    height: 235px;
  }
}
@media (max-width: 375px) {
  .frame2__block {
    max-width: 342px;
    height: 244px;
    text-align: center;
  }
}
@media (max-width: 320px) {
  .frame2__block {
    max-width: 288px;
    height: 327px;
  }
}
.frame2__title {
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
  color: #191C1F;
  margin: 0 0 18px 0;
}
@media (max-width: 768px) {
  .frame2__title {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 15px 0;
  }
}
@media (max-width: 375px) {
  .frame2__title {
    margin: 0;
  }
}
@media (max-width: 320px) {
  .frame2__title {
    margin: 0 0 27px 0;
  }
}
.frame2 p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}
.frame2__p1 {
  margin: 0 0 19px 0;
}
@media (max-width: 1200px) {
  .frame2 {
    background-size: 351px 265px;
    padding: 15px 0;
  }
}
@media (max-width: 758px) {
  .frame2 {
    margin: 0 0 56px 0;
  }
}
@media (max-width: 956px) {
  .frame2 {
    background-size: 342px 258px;
    background-position: center 0;
    padding: 265px 0;
  }
}
@media (max-width: 320px) {
  .frame2 {
    background-size: 288px 217px;
  }
}

.frame3 {
  background-color: #F6F8FA;
  width: 100%;
  padding: 57px 0 45px 0;
  margin-bottom: 80px;
}
.frame3__title {
  text-align: center;
  font-size: 40px;
  line-height: 56px;
  font-weight: 600;
  margin-bottom: 32px;
}
@media (max-width: 375px) {
  .frame3__title {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 26px;
  }
}
.frame3 .container {
  position: relative;
}
@media (max-width: 420px) {
  .frame3 .container {
    max-width: 420px;
    padding: 0;
  }
}
@media (max-width: 375px) {
  .frame3 .container {
    max-width: 375px;
    padding: 0;
  }
}
@media (max-width: 320px) {
  .frame3 .container {
    max-width: 320px;
    padding: 0;
  }
}
@media (max-width: 768px) {
  .frame3 {
    margin-bottom: 56px;
  }
}

.slick_arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  color: #C2C8CD;
  transition: 0.15s ease-in;
  cursor: pointer;
}
.slick_arrow:hover {
  color: #2A6CEA;
}
.slick_arrow.slick_prev {
  left: 0;
}
.slick_arrow.slick_next {
  right: 0;
}
@media (max-width: 1089px) {
  .slick_arrow {
    display: none;
  }
}

.slider {
  position: relative;
}
.slider .slick-arrow {
  position: absolute;
  top: 0;
  font-size: 0;
  width: 0;
  height: 0;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
}
.slider .slick-arrow.slick-prev {
  left: 0;
}
.slider .slick-arrow.slick-next {
  right: 0;
}
.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider .slick-dots li {
  list-style: none;
  margin: 0 8.5px;
}
.slider .slick-dots li.slick-active button {
  background-color: #2A6CEA;
}
.slider .slick-dots button {
  font-size: 0;
  width: 8px;
  height: 8px;
  color: #C2C8CD;
  border-radius: 50%;
}
.slider__item {
  padding: 22px 22px 0 22px;
  background-color: #fff;
  border-radius: 8px;
  max-width: 341px;
}
@media (max-width: 768px) {
  .slider__item {
    max-width: 351px;
    margin: 0 auto 40px auto;
  }
}
@media (max-width: 375px) {
  .slider__item {
    max-width: 340px;
  }
}
@media (max-width: 320px) {
  .slider__item {
    max-width: 288px;
    margin: 0 auto 38px auto;
  }
}
.slider__info {
  padding-left: 60px;
  background-repeat: no-repeat;
  background-size: 44px;
  background-position: 0 0;
  margin-bottom: 20px;
}
.slider__info.user1 {
  background-image: url(/images/frame3/nophoto.png);
}
.slider__info.user2 {
  background-image: url(/images/frame3/old.png);
}
.slider__info.user3 {
  background-image: url(/images/frame3/maz.png);
}
.slider__info.user4 {
  background-image: url(/images/frame3/untitled.png);
}
.slider__name {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #191C1F;
  margin-bottom: 4px;
}
.slider__city {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #5E646A;
}
.slider__review {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #191C1F;
  margin-bottom: 38px;
}

.frame4 {
  margin-bottom: 80px;
}
.frame4__title {
  font-size: 40px;
  line-height: 56px;
  font-weight: 600;
  color: #191C1F;
  text-align: center;
  padding-bottom: 41px;
  border-bottom: 1px solid #F6F8FA;
  margin: 0 104px;
}
@media (max-width: 768px) {
  .frame4__title {
    margin: 0;
  }
}
@media (max-width: 320px) {
  .frame4__title {
    padding-bottom: 26px;
  }
}
.frame4__faq {
  margin: 0 104px;
}
@media (max-width: 768px) {
  .frame4__faq {
    margin: 0;
  }
}
.frame4__block {
  border-bottom: 1px solid #F6F8FA;
  position: relative;
  cursor: pointer;
}
.frame4__block:hover .frame4__question,
.frame4__block:hover svg {
  color: #2A6CEA;
  pointer-events: none;
}
.frame4 svg {
  position: absolute;
  top: 0;
  right: 0;
  rotate: 0deg;
  transition: 0.15s ease-in;
}
.frame4 svg.open {
  rotate: 45deg;
}
.frame4__question {
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
  color: #191C1F;
  margin: 24px 0;
  transition: 0.15s ease-in;
  padding-right: 44px;
}
@media (max-width: 375px) {
  .frame4__question {
    margin-bottom: 16px;
  }
}
.frame4__answer {
  display: none;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  color: #5E646A;
  margin: 24px 0;
  pointer-events: none;
  transition: 0.15s ease-in;
}
.frame4__answer.open {
  display: block;
}
@media (max-width: 375px) {
  .frame4__answer {
    line-height: 28px;
    margin-bottom: 16px;
  }
}
@media (max-width: 768px) {
  .frame4 {
    margin-bottom: 56px;
  }
}

.frame5 {
  background-color: #F6F8FA;
  padding: 68px 0;
  margin-bottom: 80px;
}
.frame5__column {
  display: flex;
  flex-wrap: wrap;
}
.frame5__block {
  max-width: 592px;
  margin-bottom: 37px;
}
.frame5__block:nth-child(odd) {
  margin-right: 32px;
}
@media (max-width: 1235px) {
  .frame5__block {
    margin-right: 0;
    margin-bottom: 20px;
    max-width: 728px;
  }
}
.frame5__title {
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
  color: #191C1F;
  margin-bottom: 17px;
}
@media (max-width: 1235px) {
  .frame5__title {
    margin-bottom: 46px;
  }
}
@media (max-width: 805px) {
  .frame5__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 375px) {
  .frame5__title {
    margin-bottom: 14px;
  }
}
.frame5__text {
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  color: #191C1F;
}
@media (max-width: 768px) {
  .frame5 {
    padding: 20px 0 32px 0;
    margin-bottom: 56px;
  }
}
@media (max-width: 375px) {
  .frame5 {
    padding: 20px 0;
  }
}
@media (max-width: 320px) {
  .frame5 {
    padding: 16px 0 19px 0;
  }
}

.frame6 {
  margin-bottom: 80px;
}
@media (max-width: 810px) {
  .frame6 {
    max-width: 787px;
    margin: 0 auto 80px auto;
  }
}
.frame6__formbox {
  margin: 0 auto;
}
.frame6__title {
  text-align: center;
  font-size: 40px;
  line-height: 56px;
  font-weight: 600;
  color: #191C1F;
  margin-bottom: 44px;
}
@media (max-width: 768px) {
  .frame6__title {
    margin-bottom: 32px;
  }
}
@media (max-width: 375px) {
  .frame6__title {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 30px;
  }
}
.frame6__form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 816px;
  margin: 0 auto;
}
.frame6__namebox, .frame6__phonebox {
  position: relative;
  min-width: 288px;
  max-width: 384px;
  width: 100%;
  height: 64px;
  margin: 0 auto 30px auto;
}
.frame6__namebox-label, .frame6__phonebox-label {
  position: absolute;
  left: 16px;
  top: 8px;
  color: #83898F;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  pointer-events: none;
  opacity: 0;
  transition: 0.15s ease-in;
}
.frame6__namebox-label.activated, .frame6__phonebox-label.activated {
  opacity: 1;
}
@media (max-width: 810px) {
  .frame6__namebox, .frame6__phonebox {
    margin: 0 auto 20px auto;
  }
}
@media (max-width: 330px) {
  .frame6__namebox, .frame6__phonebox {
    min-width: auto;
  }
}
.frame6__input {
  width: 100%;
  height: 100%;
  background-color: #F6F8FA;
  border-radius: 4px;
  border: 2px solid #F6F8FA;
  padding: 16px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  color: #5E646A;
  transition: 0.15s ease-in;
  cursor: text;
}
.frame6__input:focus {
  border-color: #C2C8CD;
  background-color: #FFFFFF;
  padding: 28px 16px 4px 16px;
  color: #191C1F;
}
.frame6__p {
  min-width: 288px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  width: 100%;
  max-width: 384px;
  color: #191C1F;
  height: 24px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
@media (max-width: 810px) {
  .frame6__p {
    margin: 0 auto 20px auto;
  }
}
@media (max-width: 330px) {
  .frame6__p {
    min-width: auto;
  }
}
.frame6__checkbox {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}
@media (max-width: 330px) {
  .frame6__checkbox {
    min-width: auto;
  }
}
.frame6__bluebutton {
  background-color: #2A6CEA;
  color: #fff;
  width: 100%;
  max-width: 384px;
  min-width: 288px;
  margin: 0 auto;
}
.frame6__bluebutton:hover {
  background-color: #397DFF;
}
@media (max-width: 330px) {
  .frame6__bluebutton {
    min-width: auto;
  }
}
@media (max-width: 768px) {
  .frame6 {
    margin-bottom: 56px;
  }
}

footer {
  width: 100%;
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slick-list {
  overflow: hidden;
  padding: 0;
}

.slick-track {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-items: stretch;
  width: 100%;
  margin-bottom: 50px;
}
@media (max-width: 375px) {
  .slick-track {
    margin-bottom: 40px;
  }
}
@media (max-width: 320px) {
  .slick-track {
    margin-bottom: 38px;
  }
}

.slick-slide.slick-active {
  box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.1019607843);
}

.slick-slide.slick-current {
  box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.1019607843);
}